doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/battle.css")
        script(type="text/javascript").
            let user = !{JSON.stringify(user)}
        script(type="module" src="../battle.js")
        title Battle
    body
        div#content
            div#battleArea
                div#enemyHealth
                    div#enemyHealthBarContainer.healthBarContainer
                        div#enemyHealthBar.healthBar
                    p #{enemyPokemon.name}
                div#playerHealth
                    p 
                        | #{userPokemon.name} 
                        span#currentNumPlayerHealth 20
                        | /
                        span#maxNumPlayerHealth 20
                    div#playerHealthBarContainer.healthBarContainer
                        div#playerHealthBar.healthBar
                img#p1(src="assets/sprites/turtwigback.png")
                img#p2(src="assets/sprites/raichufront.png")
            div#battleOptions
                p#storyText What will #{userPokemon.nick} do?
                div#battleOptionsGrid
                    button Fight
                    button Bag
                    button Pokémon
                    button Run
                    div#backButtonContainer
                        button#back.hidden Back
                div#backButtonContainer
                    button#back.hidden Back
                    button#back.hidden Back