doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/battle.css")
        title Battle
        script(type="module" src="../battle.js")
    body
        div#content
            div#battleArea
                div#enemyHealth
                    div.healthBarContainer
                        div.healthBar
                    p #{enemyPokemon.name}
                div#playerHealth
                    p 
                        | #{userPokemon.name} 
                        span#currentNumPlayerHealth 25
                        | 
                        span#maxNumPlayerHealth 25
                    .healthBarContainer
                        .healthBar
                img#p1(src="assets/sprites/turtwigback.png")
                img#p2(src="assets/sprites/raichufront.png")
            div#battleOptions
                p What will #{userPokemon.nick} do?
                div#battleOptionsGrid
                    div#box1
                        button Fight
                    div#box2
                        button Bag
                    div#box3
                        button Pokemon
                    div#box4
                        button Run
                div#backButtonContainer
                    button#back.hidden Back