doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/battle.css")
        title Battle
    body
        #content
            #battlearea
                #enemyhealth
                    .healthbarcontainer
                        .healthbar
                    p #{enemypokemon.name}
                #playerhealth
                    p #{userpokemon.name}
                    .healthbarcontainer
                        .healthbar
                img#p1(src="https://archives.bulbagarden.net/media/upload/3/3e/Spr_b_4d_387.png")
                img#p2(src="https://archives.bulbagarden.net/media/upload/5/53/Spr_3r_026.png")
            #battleoptions
                p What will #{userpokemon.nick} do?
                #battleoptionsgrid
                    #fight
                        button Fight
                    #bag
                        button Bag
                    #pokemon
                        button Pokemon
                    #run
                        button Run