doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/battle.css")
        title Battle
    body
        #content
            #battlearea
                #enemyhealth
                    .healthbarcontainer
                        .healthbar
                    p #{enemypokemon.name}
                #playerhealth
                    p #{userpokemon.name}
                    .healthbarcontainer
                        .healthbar
                img#p1(src="assets/sprites/turtwig.png")
                img#p2(src="assets/sprites/raichu.png")
            #battleoptions
                p What will #{userpokemon.nick} do?
                #battleoptionsgrid
                    #fight
                        button(onclick="handleFight()") Fight
                    #bag
                        button(onclick="handleBag()") Bag
                    #pokemon
                        button(onclick="handlePokemon()") Pokemon
                    #run
                        button Run
        script(type="module").
            import { pokedex } from "./dex/pokedex.js"
            import { BattleLogic } from "./models/battlelogic.js"
            let turtwig = pokedex.get("Turtwig")
            let raichu = pokedex.get("Raichu")
            let battle

            function init() {
                let battle = new BattleLogic(turtwig, raichu)
            }

            function handleFight() {
                let fightElement = document.getElementById("fight")
                fightElement.removeChild(document.getElementById("fight").children[0])
                for (let i = 0; i < turtwig.moves.length; i++) {
                    fightElement.appendChild(document.createElement("div"))
                    fightElement.children[i].id = "fight" + i
                    fightElement.children[i].innerText = turtwig.moves[i].name
                }
            }
            window.onload = init