doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/battle.css")
        title Battle
        script(type="text/javascript").
            console.log("test")
            import { Pokemon } from "./models/pokemon.js"
            
    body
        #content
            #battlearea
                #enemyhealth
                    .healthbarcontainer
                        .healthbar
                    p #{enemypokemon.name}
                #playerhealth
                    p #{userpokemon.name}
                    .healthbarcontainer
                        .healthbar
                img#p1(src="assets/sprites/turtwig.png")
                img#p2(src="assets/sprites/raichu.png")
            #battleoptions
                p What will #{userpokemon.nick} do?
                #battleoptionsgrid
                    #fight
                        button Fight
                    #bag
                        button Bag
                    #pokemon
                        button Pokemon
                    #run
                        button Run