doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
    body
        form(action="battle" method="post")
            label(for="user") Username: 
            input(type="text" name="username")
            br
            br
            label(for="password") Password: 
            input(type="password" name="password" autocomplete="on")
            br
            br
            label(for="pokemonOptions") Choose a Pokemon to fight with:
            br
            select#pokemonOptions(name="pokemon")
                each pokemon in Array.from(pokedex.values())
                    option(value=pokemon.name) #{pokemon.name}
            input(type="submit" value="go!")