:root {
    --player-health: 100%;
    --enemy-health: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#content {
    display: grid;
    grid-template-areas:
        'battleArea'
        'battleOptions'
    ;
    grid-template-rows: 2fr 1fr;
    height: 100vh;
}

div#battleArea {
    grid-area: battleArea;
    border-bottom: 2px solid black;
}

div#battleOptions {
    grid-area: battleOptions;
    display: grid;
    grid-template-areas:
        'p battleOptionsGrid'
    ;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
}

div#battleOptions>p {
    grid-area: p;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0px;
}

div#battleOptionsGrid {
    display: grid;
    grid-template-areas:
        'fight bag'
        'pokemon run'
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

div#battleOptionsGrid>div>button {
    width: 100%;
    height: 100%;
    font-size: 25px;
}

div.healthBarContainer {
    box-sizing: content-box;
    margin: 0px;
    border: 2px solid black;
    border-radius: 1px;
    width: 200px;
    height: 20px;
}

div.healthBar {
    height: 20px;
    background-color: gray;
}

div#playerHealth>div.healthBarContainer>div.healthBar {
    width: var(--player-health);
}

div#enemyHealth>div.healthBarContainer>div.healthBar {
    width: var(--enemy-health);
}

div#playerHealth {
    position: absolute;
    bottom: calc(100vh / 3 + 15px);
    left: 10px;
}

div#enemyHealth {
    position: absolute;
    top: 15px;
    right: 10px;
}

img#p1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 335px;
    left: 200px;
    z-index: -1;
}

img#p2 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0px;
    right: 220px;
    z-index: -1;
}

.hidden {
    display: none;
}

button#back {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 20px;
}